<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizza</title>
    <!-- !Faviocn -->
    <link rel="icon" href="images/pizzaIcon.png">
    <!-- Link to style sheet -->
    <link rel="stylesheet" href="styles/pizza-style.css">
    <!-- Link to JavaScript-->
    <script src="js/pizza.js" defer></script>
</head>

<body>
    <main>
        <header>
            <img src="images/pizzaman.jpeg" alt="Image of pizza guy">
            <h1>Papa's Pizza</h1>
            <p id="tagline">The best pizza GRC students have ever tasted!</p>
            <hr>
            <p>The best pizza is the perfect balance of crispy crust, rich tomato sauce, and gooey, melted cheese. Whether topped with classic pepperoni, fresh basil, or gourmet ingredients, each bite is a mix of comforting flavors and textures. It’s simple,
                delicious, and always satisfying.</p>
            <a id="main-button" href="#" role="button">Contact us</a>
        </header>
        <h1>Thank you for your confirmation</h1>
        <main>
</body>

</html>